In [1]:
from extraction.extract import *
from extraction.extractionvalues import *

import pandas as pd

In [2]:
P = generateKeplerFlights("EBBR", datetime(2019, 1, 1), datetime(2019, 12, 30), 30, save_to_csv=True)

In [3]:
P.head()

,ADEP,ADEPLat,ADEPLong,ADES,ADESLat,ADESLong,FlightType,Movement
Time,,,,,,,,
2019-03-01 06:30:00,CYUL,45.46806,-73.74139,EBBR,50.90139,4.48444,Traditional Scheduled,Arriving
2019-03-01 07:30:00,KJFK,40.64028,-73.77833,EBBR,50.90139,4.48444,Traditional Scheduled,Arriving
2019-03-01 07:30:00,KEWR,40.69667,-74.16833,EBBR,50.90139,4.48444,Traditional Scheduled,Arriving
2019-03-01 13:30:00,RJAA,35.75833,140.37833,EBBR,50.90139,4.48444,Traditional Scheduled,Arriving
2019-03-01 11:30:00,KMIA,25.80000,-80.28333,EBBR,50.90139,4.48444,Traditional Scheduled,Arriving

In [3]:
airports = ICAOTOP50
Q = generateKeplerFlightsMultiple(airports, datetime(2019, 3, 1), datetime(2019, 3, 3), 30, save_to_csv=True)

100%|██████████| 50/50 [00:59<00:00,  1.19s/it]

In [3]:
P.to_csv("Test")

In [3]:
Q.head()

,ADEP,ADEPLat,ADEPLong,ADES,ADESLat,ADESLong,FlightType,Movement
Time,,,,,,,,
2019-03-01 08:30:00,UUEE,55.97250,37.41306,EGLL,51.4775,-0.46139,Traditional Scheduled,Arriving
2019-03-01 09:00:00,UUEE,55.97250,37.41306,EGLL,51.4775,-0.46139,Traditional Scheduled,Arriving
2019-03-01 08:00:00,LEMD,40.47222,-3.56083,EGLL,51.4775,-0.46139,Traditional Scheduled,Arriving
2019-03-01 07:30:00,EDDM,48.35389,11.78611,EGLL,51.4775,-0.46139,Traditional Scheduled,Arriving
2019-03-01 07:30:00,EDDF,50.03333,8.57056,EGLL,51.4775,-0.46139,Traditional Scheduled,Arriving

In [5]:
Q.to_csv("Testwhole2.csv")